* {
  -webkit-transition: 700ms ease;
  transition: 700ms ease;
}

body {
  width: 100vw;
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-color: #000;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > h1 {
  font-size: 6vmin;
  margin-bottom: 2vmin;
}

#container {
  background-color: #578a34;
  display: inline-block;
}

#container header {
  width: 100%;
  height: 7vmin;
  background-color: #4a752c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container header .score {
  margin-left: 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container header .score #food {
  display: inline-block;
  width: 4vmin;
  height: 4vmin;
  background-color: #d60000;
  -webkit-animation: none;
          animation: none;
}

#container header .score div[displayScoreArea] {
  margin-left: 2vmin;
  font-size: 4vmin;
}

#container main {
  width: 80vmin;
  height: 80vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#button-container {
  position: absolute;
  width: 90vmin;
  height: 96%;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.64);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  -webkit-transition: 700ms ease-in;
  transition: 700ms ease-in;
}

#game-start-btn {
  background-color: #0077ff;
  border: none;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 25px;
  font-size: 2.5vmin;
  cursor: pointer;
  -webkit-animation: border-animation 250ms ease-in infinite alternate;
          animation: border-animation 250ms ease-in infinite alternate;
}

#game-display-area {
  width: 93%;
  height: 93%;
  position: relative;
  background-color: #aad751;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[30];
      grid-template-rows: repeat(30, 1fr);
  -ms-grid-columns: (1fr)[30];
      grid-template-columns: repeat(30, 1fr);
}

#game-over-options {
  position: absolute;
  width: 90vmin;
  height: 96%;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.64);
  border-radius: 12px;
  border: 1px solid rgba(145, 42, 42, 0.125);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 700ms ease-in;
  transition: 700ms ease-in;
}

#game-over-options span {
  font-size: 10vmin;
}

#game-over-options button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 4vmin;
  cursor: pointer;
}

#game-over-options button img {
  width: 10vmin;
}

#game-over-options button:active {
  -webkit-transform: rotate(-720deg);
          transform: rotate(-720deg);
}

#sound-state {
  margin-right: 2vmin;
  position: relative;
}

#sound-state button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: 50ms ease;
          transform: 50ms ease;
}

#sound-state button:active {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

#sound-state button img {
  width: 5vmin;
}

#sound-off-icon {
  display: none;
}

.snake-body {
  background-color: #4573e8;
  margin: 0.5px;
}

.food {
  background-color: #d60000;
  border-radius: 50%;
  -webkit-animation: food-animation 100ms ease 0s infinite;
          animation: food-animation 100ms ease 0s infinite;
}

.head {
  background-color: #1F1D36;
}

@-webkit-keyframes food-animation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes food-animation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes border-animation {
  0% {
    border: #fff 0 solid;
  }
  100% {
    border: rgba(255, 255, 255, 0.527) 0.8vmin solid;
  }
}

@keyframes border-animation {
  0% {
    border: #fff 0 solid;
  }
  100% {
    border: rgba(255, 255, 255, 0.527) 0.8vmin solid;
  }
}
/*# sourceMappingURL=home.css.map */