@import './config';

* {
    transition: 700ms ease;
}

body {
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
    background-color: $bg-color;
    color: map-get($font, color);
    font-family: map-get($font, family), sans-serif;
    @include flex(column, center, center);

    &>h1 {
        font-size: 6vmin;
        margin-bottom: 2vmin;
    }
}

#container {
    background-color: map-get($ui-colors, container);
    display: inline-block;

    header {
        width: 100%;
        height: $header-height;
        background-color: map-get($ui-colors, header);
        @include flex(null, space-between, center);

        .score {
            margin-left: 2vmin;
            @include flex(null, null, center);

            #food {
                display: inline-block;
                width: 4vmin;
                height: 4vmin;
                background-color: map-get($ui-colors, food);
                animation: none;
            }

            & div[displayScoreArea] {
                margin-left: 2vmin;
                font-size: 4vmin;
            }
        }
    }

    main {
        width: $container-dimensions;
        height: $container-dimensions;
        @include flex(null, center, center);
    }
}

#button-container {
    position: absolute;
    width: 90vmin;
    height: 96%;
    z-index: 1;
    box-sizing: border-box;
    @include flex(null, center, center);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.64);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 700ms ease-in;
}

#game-start-btn {
    background-color: rgb(0, 119, 255);
    border: none;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 25px;
    font-size: 2.5vmin;
    cursor: pointer;
    animation: border-animation 250ms ease-in infinite alternate;
}

#game-display-area {
    width: $game-display-area-dimensions;
    height: $game-display-area-dimensions;
    position: relative;
    background-color: map-get($ui-colors, game-display-area);
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
}

#game-over-options {
    position: absolute;
    width: 90vmin;
    height: 96%;
    z-index: 1;
    box-sizing: border-box;
    @include flex(column, center, center);

    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.64);
    border-radius: 12px;
    border: 1px solid rgba(145, 42, 42, 0.125);
    transform: scale(0);
    transition: 700ms ease-in;

    span {
        font-size: 10vmin;
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
        margin-top: 4vmin;
        cursor: pointer;

        img {
            width: 10vmin;
        }

        &:active {
            transform: rotate(-720deg);
        }
    }
}

#sound-state {
    margin-right: 2vmin;
    position: relative;

    button {
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transform: 50ms ease;

        &:active {
            transform: scale(0.5);
        }

        img {
            width: 5vmin;
        }
    }
}

#sound-off-icon {
    display: none;
}

.snake-body {
    background-color: map-get($ui-colors, snake);
    margin: 0.5px;
}

.food {
    background-color: map-get($ui-colors, food);
    border-radius: 50%;
    animation: food-animation 100ms ease 0s infinite;
}

.head {
    background-color: map-get($ui-colors, head);
}

@keyframes food-animation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes border-animation {
    0% {
        border: #fff 0 solid;
    }

    100% {
        border: rgba(255, 255, 255, 0.527) 0.8vmin solid;
    }
}